.letters {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f7f7f8;
    position: relative;
    z-index: -100;
    // .letters__title

    &__title {
        text-align: center;
    }

    // .letters__subtitle

    &__subtitle {
        margin-top: 20px;
        font-size: 20px;
        line-height: 24px;
        color: #343434;
        text-align: center;
    }

    // .letters__slider

    &__slider {
        margin-top: 50px;
    }

    // .letters__swiper

    &__swiper {
    }

    // .letters__slide

    &__slide {
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
        }
    }

    .swiper-wrapper {
        //padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    .swiper-button-prev {
        top: 50%;
        &:after {
            content: "";
            border: 9px solid #4956ff;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            position: absolute;
            left: -19px;
        }
    }
    .swiper-button-next {
        top: 50%;
        &:after {
            content: "";
            border: 9px solid #4956ff;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            position: absolute;
            right: -19px;
        }
    }
    .swiper-pagination {
        bottom: -1px;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .swiper-pagination-bullet-active {
        background: #4945ff;
    }
}
