@media (max-width: 1600px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
    .top-header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .bottom-header {
        padding-left: 20px;
        padding-right: 20px;
        &__item {
            margin-right: 20px;
        }
        &__heart {
            margin-left: 10px;
        }
    }
    .promo {
        padding-left: 20px;
        padding-right: 20px;
    }
    .right-promo {
        &__img {
            margin-left: 20px;
        }
    }
    .catalog {
        &__card {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    .list {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    .opt {
        padding-left: 20px;
        padding-right: 20px;

        &__descr {
            max-width: 50%;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__text {
            margin-top: 20px;
        }
        &__btn {
            margin-top: 30px;
        }
        &__img {
            width: 445px;
            height: 372px;
        }
    }
    .letters {
        padding-right: 20px;
        padding-left: 20px;
    }
    .delivery {
        padding-right: 20px;
        padding-left: 20px;
        &__descr {
            padding: 20px;
        }
    }
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .optt {
        padding-left: 20px;
        padding-right: 20px;
        &__mask {
            display: none;
        }
    }
    .federal {
        padding-left: 20px;
        padding-right: 20px;
    }
    .prot-promo {
        padding-left: 20px;
        padding-right: 20px;
    }
    .prot-infec {
        padding-right: 20px;
        padding-left: 20px;
        &__img {
            margin-right: 20px;
        }
    }
    .help {
        padding-left: 20px;
        padding-right: 20px;
    }
    .why {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 992px) {
    .top-header {
        &__contacts {
            width: 100%;
            justify-content: flex-end;
        }
        .burger {
            display: block;
        }
    }
    .bottom-header {
        &__list {
            display: block;
            transform: translateX(-110%);
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #fff;
            height: 100vh;
            width: 50%;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease 0s;
            z-index: 100;
            &.active {
                transform: translateX(0%);
            }
        }
        &__item {
            width: 100%;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: rgb(219, 217, 217);
            }
        }
        &__link {
            width: 100%;
            display: block;
            padding: 15px 0;
            font-size: 20px;
            color: #000;
            text-decoration: underline;
            font-family: "Play", sans-serif;
            &:hover {
                font-size: 18px;
                &:after {
                    width: 0%;
                }
            }
        }
        &__heart {
            margin-left: 40px;
        }
    }
    .btn {
        padding: 10px 27px;
    }
    .promo {
        &__left {
            max-width: 100%;
        }
        &__right {
            display: none;
        }
        .left-promo {
            &__title {
                &:after {
                    bottom: 9px;
                }
            }
        }
    }
    /* .catalog {
        &__cards {
            justify-content: inherit;
        }
    } */
    .list {
        .top-list {
            &__wrapper {
                flex-direction: column;
            }
            &__video {
                margin: 0 auto;
                video {
                    width: 100%;
                }
            }
        }
        .bottom-list {
            &__wrapper {
                flex-direction: column;
            }
            &__video {
                order: 1;
                margin: 0 auto;
                video {
                    width: 100%;
                }
            }
        }
    }
    .opt {
        padding-top: 40px;
        padding-bottom: 40px;
        &__wrapper {
            flex-direction: column;
        }
        &__descr {
            max-width: 100%;
        }
        &__img {
            margin-top: 30px;
        }
    }
    .delivery {
        &__wrapper {
            flex-wrap: wrap;
            &_2 {
                flex-direction: column;
            }
        }
        &__block {
            width: 48%;
            &_2 {
                width: 70%;
            }
        }
        &__item {
            &_2 {
                margin-top: 20px;
            }
        }
        &__divider {
            &:after {
                width: 0%;
            }
        }
        &__descr {
            height: 220px;
        }
    }
    .optt {
        &__opt {
            font-size: 30px;
            line-height: 36px;
        }
        &__title {
            font-size: 27px;
            line-height: 35px;
            &.title {
                max-width: 300px !important;
            }
            &:after {
                bottom: 7px;
            }
        }

        &__subtitle {
            font-size: 18px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .form {
        padding-left: 20px;
        padding-right: 20px;
        .input-promo {
            width: auto;
        }
        .feed-back {
            gap: 15px;
        }
    }
    .discount {
        padding-left: 20px;
        padding-right: 20px;
    }
    .prot-promo {
        &__rightpart {
            display: none;
        }
        &__title {
            font-size: 35px;
        }
        &__subtitle.title {
            font-size: 30px;
            &:after {
                bottom: 7px;
            }
        }
    }
    .prot-infec {
        &__wrap {
            flex-direction: column;
            text-align: center;
        }
        &__img {
            margin-bottom: 30px;
        }
    }
    .help {
        &__wrap {
            flex-direction: column;
        }
        &__video {
            order: -1;
            margin-bottom: 25px;
        }
        &__subtitle {
            &:before {
                width: 0;
            }
        }
        &__descr {
            text-align: center;
        }
    }
}
@media (max-width: 768px) {
    .top-header {
        &__location {
            display: none;
        }
        &__shedule {
            margin-left: 30px;
        }
        &__mail {
            margin-left: 25px;
        }
    }
    .bottom-header {
        &__heart {
            margin-left: 20px;
        }
    }
    .btn {
        padding: 8px 16px;
        font-size: 12px;
    }
    .promo {
        .left-promo {
            &__title {
                font-size: 28px;
                line-height: 31px;
                &:after {
                    bottom: 7px;
                }
                span {
                    font-size: 34px;
                }
            }
            &__subtitle {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    .catalog {
        &__tabs {
            margin-bottom: 25px;
            margin-top: 25px;
        }
        &__cards {
            justify-content: center;
        }
        &__title .title {
            font-size: 28px;
            &:after {
                bottom: 7px;
            }
        }
        &__link {
            padding: 8px 20px;
        }
        .card {
            &__btn {
                background: url("../img/catalog/card_cart.png") 97px 50% no-repeat,
                    linear-gradient(180deg, #6d6aff 0, #504cff 100%);
            }
        }
    }
    .blog {
        &__title .title {
            font-size: 28px;
            &:after {
                bottom: 7px;
            }
        }
    }
    .opt {
        &__title {
            font-size: 28px;
            &:after {
                bottom: 7px;
            }
        }
    }
    .letters {
        &__title .title {
            font-size: 28px;
            &:after {
                bottom: 7px;
            }
        }
    }
    .delivery {
        &__title .title {
            font-size: 28px;
            line-height: 32px;
            &:after {
                bottom: 7px;
            }
        }
        &__subtitle {
            font-size: 20px;
        }
        &__block {
            &_2 {
                width: 95%;
            }
        }
    }
    .footer {
        &__contacts {
            flex-basis: 40%;
        }
        &__about {
            flex-basis: 60%;
        }
        &__img {
            display: none;
        }
        .address-footer,
        .phone-footer,
        .email-footer,
        .user-footer {
            // .address-footer__name

            &__name {
                font-size: 14px;
                line-height: 16px;
            }

            // .address-footer__text

            &__text {
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
    .optt {
        &__wrapper {
            display: block;
            text-align: center;
        }
        &__title {
            &.title {
                margin: 0 auto;
                max-width: 350px !important;
            }
            &:after {
                bottom: 7px;
            }
        }
        &__btn {
            margin: 30px auto;
        }
    }
    .federal {
        padding-top: 40px;
        padding-bottom: 40px;
        &__name {
            font-size: 28px;
        }
        &__title {
            font-size: 25px !important;
            line-height: 30px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 30px;
        }
        &__list {
            display: block;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
    .form {
        &__title .title {
            font-size: 30px;
            &:after {
                bottom: 7px;
            }
        }
        &__subtitle {
            margin-top: 15px;
        }
    }
    .discount {
        .card__btn {
            background: url("../img/catalog/card_cart.png") 97px 50% no-repeat,
                linear-gradient(180deg, #6d6aff 0%, #504cff 100%);
            background-size: 18px !important;
        }
    }
    .prot-promo {
        &__title {
            font-size: 30px;
        }
        &__subtitle.title {
            font-size: 27px;
            line-height: 32px;
        }
        &__stat {
            font-size: 18px;
        }
        &__statits {
            margin-top: 25px;
            font-size: 25px;
            line-height: 30px;
            span {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    .prot-infec {
        padding-top: 40px;
        padding-bottom: 40px;
        &__img {
            text-align: center;
        }
        &__title {
            font-size: 30px;
            line-height: 35px;
        }
        &__subtitle.title {
            font-size: 27px;
            line-height: 32px;
        }
    }
    .help {
        padding-top: 40px;
        padding-bottom: 40px;
        &__title {
            font-size: 30px;
            line-height: 35px;
        }
        &__subtitle {
            font-size: 22px;
            line-height: 26px;
            &_med {
                font-size: 30px;
                line-height: 35px;
            }
        }
        &__tetx {
            font-size: 13px;
        }
    }
    .why {
        padding-top: 40px;
        padding-bottom: 40px;
        &__subtitle {
            font-size: 30px;
            line-height: 35px;
        }
        &__title {
            &_title {
                font-size: 26px !important;
                line-height: 32px;
            }
        }
        &__item {
            flex-basis: 40%;
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .top-header {
        &__shedule {
            display: none;
        }
        &__phone {
            font-size: 11px;
        }
        &__mail {
            margin-left: 20px;
            font-size: 11px;
        }
        .burger {
            margin-left: 10px;
            width: 25px;
            height: 20px;
        }
    }
    .bottom-header {
        padding-right: 10px;
        padding-left: 10px;
        &__logo {
            display: block;
            img {
                max-width: 70%;
            }
        }
        &__cart {
            display: none;
        }
        &__list {
            width: 65%;
        }
        &__link {
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .btn {
        padding: 7px 14px;
        font-size: 10px;
    }
    .promo {
        padding: 30px 10px;
        .left-promo {
            &__title {
                font-size: 21px;
                line-height: 21px;
                &:after {
                    bottom: 5px;
                }
                span {
                    font-size: 24px;
                }
            }
            &__subtitle {
                font-size: 14px;
                line-height: 19px;
            }
            &__descr {
                height: 90px;
            }
            &__item {
                flex: 0 1 100%;
                margin-bottom: 15px;
            }
            &__name {
                font-size: 14px;
                line-height: 16px;
            }

            // .left-promo__text

            &__text {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__commerc {
            background: none !important;
            font-size: 13px;
            text-align: center;
            padding-right: 0;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btn {
            //width: 100%;
            margin: 0 auto;
        }
        &__videolink {
            text-align: center;
            margin-top: 20px;
            padding-left: 0;
            &:before {
                width: 0;
                height: 0;
            }
            &:after {
                border-left: none;
            }
        }
    }
    .catalog {
        padding-top: 40px;
        padding-bottom: 40px;
        &__title .title {
            font-size: 21px;
            &:after {
                bottom: 5px;
            }
        }
        &__cards {
            display: block;
        }
        &__card {
            width: 300px;
            margin: 0 auto 20px auto;
        }
        &__all {
            font-size: 14px;
        }
        .card {
            &__btn {
                background: url("../img/catalog/card_cart.png") 85px 50% no-repeat,
                    linear-gradient(180deg, #6d6aff 0, #504cff 100%);
            }
        }
    }
    .blog {
        padding: 40px 10px;
        &__title .title {
            font-size: 20px;
            line-height: 25px;
            &:after {
                bottom: 5px;
            }
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .blog {
        &__slide {
            video {
                border-radius: 10px;
            }
        }
    }
    .list {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        .top-list,
        .bottom-list {
            &__video {
                video {
                    border-radius: 10px;
                }
            }
        }
    }
    .opt {
        &__title {
            font-size: 20px;
            &:after {
                bottom: 5px;
            }
        }
        &__subtitle {
            font-size: 17px;
        }
        &__img {
            max-width: 90%;
            height: auto;
        }
    }
    .letters {
        padding-top: 40px;
        padding-bottom: 40px;

        &__slide {
            width: 90%;
            margin: 0 auto;
        }
        &__title .title {
            font-size: 18px;
            &:after {
                bottom: 5px;
            }
        }
        &__subtitle {
            font-size: 15px;
            margin-top: 10px;
        }
        &__slider {
            margin-top: 25px;
        }
    }
    .delivery {
        padding-top: 40px;
        padding-bottom: 40px;
        &__title .title {
            font-size: 20px;
            line-height: 25px;
            &:after {
                bottom: 5px;
            }
        }
        &__list {
            margin-top: 15px;
            li {
                margin-bottom: 10px;
            }
        }
        &__descr {
            &_2 {
                height: auto;
            }
        }
        &__subtitle {
            font-size: 17px;
        }
        &__wrapper {
            margin-top: 30px;
        }
        &__block {
            width: 100%;
            margin-bottom: 15px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .footer {
        .titleb {
            &_fix {
                margin-top: 30px;
            }
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__contacts {
            flex-basis: 100%;
            order: 1;
        }
        &__about {
            flex-basis: 100%;
        }
    }
    .descr-delivery {
        &__wrap {
            &_del {
                padding-left: 0 !important;
            }
            &_sedan {
                padding-left: 0 !important;
            }
            &_air {
                padding-left: 0 !important;
            }
            &_del {
                background: none !important;
            }
            &_sedan {
                background: none !important;
            }
            &_air {
                background: none !important;
            }
        }
    }
    .optt {
        &__opt {
            font-size: 25px;
        }
        &__title {
            font-size: 23px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 16px;
        }
    }
    .federal {
        &__name {
            font-size: 25px;
            line-height: 32px;
        }
        &__title {
            font-size: 16px !important;
            &:after {
                bottom: 3px;
                left: 0;
            }
        }
        &__subtitle {
            font-size: 14px;
            line-height: 23px;
        }
    }
    .form {
        padding-top: 40px;
        padding-bottom: 40px;
        &__title .title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 14px;
        }
        .feed-back {
            display: block;
            input,
            textarea {
                width: 100%;
                margin-bottom: 15px;
                &::placeholder {
                    font-size: 13px;
                }
            }
            textarea {
                padding-top: 15px;
                padding-bottom: 25px;
            }
            .file-inp__wrap {
                input {
                    padding-top: 10px !important;
                    &::placeholder {
                        font-size: 15px !important;
                    }
                }
                span {
                    bottom: 25px;
                    font-size: 13px;
                    width: 100%;
                    text-align: center;
                }
            }
            .input-file {
                &::placeholder {
                    font-size: 13px;
                }
            }
        }
        &__submit {
            display: block;
            .submit-btn {
                width: 50% !important;
                margin: 0 auto;
                padding: 12px 0 !important;
            }
        }
    }
    .discount {
        padding: 40px 0;
        .catalog__card {
            margin: 0 auto 20px auto;
        }
        .card__btn {
            background: url("../img/catalog/card_cart.png") 86px 50% no-repeat,
                linear-gradient(180deg, #6d6aff 0%, #504cff 100%);
            background-size: 17px !important;
        }
    }
    .prot-promo {
        padding-top: 30px;
        padding-bottom: 30px;
        &__statits {
            display: block;
        }
        &__title {
            font-size: 25px;
            line-height: 30px;
        }
        &__subtitle.title {
            font-size: 22px;
        }
        &__stat {
            font-size: 16px;
            margin-top: 15px;
        }
        &__statits-item {
            margin-bottom: 15px;
        }
        &__btn {
            margin-top: 25px;
        }
    }
    .prot-infec {
        padding-left: 10px;
        padding-right: 10px;
        &__title {
            font-size: 25px;
        }
        &__subtitle.title {
            font-size: 22px;
            line-height: 29px;
            &:after {
                bottom: 5px;
            }
        }
        &__tetx {
            margin-top: 20px;
            font-size: 14px;
        }
        &__inform {
            font-size: 12px;
        }
    }
    .help {
        padding-right: 10px;
        padding-left: 10px;
        &__title {
            font-size: 22px;
            &:after {
                bottom: 5px;
            }
        }
        &__subtitle {
            font-size: 17px;
            line-height: 22px;
            margin-top: 10px;
            &_med {
                font-size: 22px;
            }
        }
        &__video {
            width: 90%;
            height: auto;

            video {
                max-width: 100%;
                border-radius: 20px;
            }
        }
    }
    .why {
        &__subtitle {
            font-size: 22px;
            line-height: 25px;
        }
        &__wrapper {
            margin-top: 30px;
        }
        &__title {
            .title {
                &:after {
                    bottom: 5px;
                }
            }
            &_title {
                font-size: 20px !important;
                line-height: 25px;
            }
        }
        &__item {
            flex-basis: 100%;
        }
    }
    .fade-block {
        width: 300px;
        height: auto;
    }
    .modal-window {
        padding: 20px 10px;
    }
}
