.prot-catalog {
    background: #f7f7f8;
    padding-top: 50px;
    position: relative;
    z-index: -1;
    padding-bottom: 50px;
    &__names {
        text-align: center;
    }
}

.prot-infec {
    // .prot-infec__title

    &__title {
    }

    // .prot-infec__subtitle

    &__subtitle {
    }
}
